@import '~antd/lib/style/themes/default.less';
@ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);

.slidermenu_logo {
  height: 64px;
  position: relative;
  line-height: 64px;
  padding-left: (@menu-collapsed-width - 32px) / 2;
  transition: all 0.3s;
  box-shadow: 0 2px 8px #f0f1f2;

  // background: #002140;
  overflow: hidden;

  img {
    display: inline-block;
    vertical-align: middle;
    height: 62px;
  }

  h1 {
    color: #666;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin: 0 0 0 10px;
    font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
}

.slidermenu_title {
  height: 32px;
  position: relative;
  line-height: 32px;
  text-align: center;

  h1 {
    color: rgb(127, 125, 122);
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
}

.slidermenu_sider {
  min-height: 98vh;

  // box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
  z-index: 10;
  position: relative;

  .slidermenu_collapsed {
    position: absolute;
    transition: all 0.3s;
    right: -24px;
    top: 50vh;
    width: 24px;
    height: 50px;
    z-index: 3;
    margin-top: -25px;

    &:hover {
      .slidermenu_collapsed_bg {
        left: 4px;
        border-left: 19px solid #d9dee4;
      }

      .slidermenu_collapsed_navbar {
        left: 0;
      }
    }

    .slidermenu_collapsed_inner {
      top: -50%;
      position: relative;
      overflow: hidden;
    }

    .slidermenu_collapsed_bg {
      width: 0;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
      border-bottom: 9px solid transparent;
      border-left: 15px solid #d9dee4;
      border-top: 9px solid transparent;
      transition: all 0.1s ease, 0.1s ease;
    }

    .slidermenu_collapsed_navbar {
      height: 50px;
      position: relative;
      left: -4px;
      text-align: center;
      cursor: pointer;
      transition: all 0.1s ease, 0.1s ease;

      .slidermenu_collapsed_icon {
        line-height: 50px;
        vertical-align: text-top;
        font-weight: 400;
      }
    }
  }
}

.bnq-fixed-sider {
  // position: fixed !important;
  // top: 0;
  // left: 0;
  z-index: 5;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  box-shadow: 2px 0 6px 0 rgba(0, 21, 41, 0.35);

  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    height: 100%;

    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    ::-webkit-scrollbar-track {
      background: hsla(0, 0%, 100%, 0.15);
      border-radius: 3px;
      -webkit-box-shadow: inset 0 0 5px rgba(37, 37, 37, 0.05);
    }

    ::-webkit-scrollbar-thumb {
      background: hsla(0, 0%, 100%, 0.2);
      border-radius: 3px;
      -webkit-box-shadow: inset 0 0 5px hsla(0, 0%, 100%, 0.05);
    }
  }

  .ant-menu-root {
    position: relative;
    z-index: 10;
    min-height: 100%;
    border-right: none;
  }

  .bnq-sider-menu {
    flex: 1 1 0%;
    overflow: hidden auto;
  }
}

.bnq-fixed-sider {
  .img-icon img {
    width: 14px;
    position: relative;
    top: -3px;
  }
  .ant-menu-dark .ant-menu-item-selected .anticon.default {
    display: none;
  }
  .ant-menu-dark .ant-menu-item-selected .anticon.selected {
    display: inherit !important;
    opacity: 1;
  }

  .ant-menu-dark .ant-menu-item .anticon.selected {
    display: none;
  }
}
