{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry", // or "usage"
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["import", { "libraryName": "antd", "style": true }, "antd"],
    ["import", { "libraryName": "antd-mobile", "style": true }, "antd-mobile"]
  ]
}
